<h1>Translate bare stats from Battlescribe to Rosterizer format</h1>
<h3>BEWARE: Battlescribe format is very opinionated about how things should be structured. Rosterizer allows much more freedom in its data architecture.</h3>
<p>
  This means that the output of this tool may not fit the needs of its game system well, and will most likely need to be adjusted. <em>(but at least all the stats and assets are pre-generated!)</em>
</p>
<div class="form">
  <input
    placeholder="url to a (raw xml) catalog"
    [formControl]="urlField"
  >
  <button (click)="onTranslate()" type="button">Translate</button>
  <button (click)="onClip()" [disabled]="clipped || !mhp" type="button">Clip</button>
</div>

<ngx-json-viewer *ngIf="mhp" [json]="mhp" [depth]="2"></ngx-json-viewer>